img {
  width: 40%;
  padding: 6px;
}
body{
  background-color: lightgreen;
  text-align: center;
  margin-top: -60px;
}
.pagetitle {
  font-size: 45px;
}
.column{
  width: 290px;
  display: inline-block;
  float: top;
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
}
.sidebar{
  float: right;
  background-color: #4e82db;
  height: 100vh;
  border: 6px solid darkblue;
  text-align: left;
  padding: 60px;
  font-size: 20px;
}
.sidebar h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
}
